<!DOCTYPE html>
<html data-ng-app="">

<head>
	<title>Termelok</title>
	<meta charset="utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body data-ng-controller="userController">
<div class="container">

<h3>Regisztráció</h3>

<form name="regisztracio" method="get" onsubmit="connect()">
	<table>
		<tr> <!-- ng-repeat="user in users"-->
			<td>Név: </td>
			<td><input type="text" name="nev" ng-model="nev" id="nev" placeholder="Név" required>
			<span style="color:red" ng-show="regisztracio.nev.$dirty && regisztracio.nev.$invalid">
			<span ng-show="regisztracio.nev.$error.required"> *A név megadása kötelező.</span>
			</span></td>
		</tr>
		<tr> 
			<td>Cím: </td>
			<td><input type="text" name="cim" ng-model="cim" id="cim" placeholder="Cím" required>
			<span style="color:red" ng-show="regisztracio.cim.$dirty && regisztracio.cim.$invalid">
			<span ng-show="regisztracio.cim.$error.required"> *A cím megadása kötelező.</span>
			</span></td>
		</tr>
		<tr> 
			<td>Telefonszám: </td>
			<td><input type="text" name="tel" ng-model="tel" id="tel" placeholder="Telefonszám" required>
			<span style="color:red" ng-show="regisztracio.tel.$dirty && regisztracio.tel.$invalid">
			<span ng-show="regisztracio.tel.$error.required"> *A telefonszám megadása kötelező.</span>
			</span></td>
		</tr>
		<tr> 
			<td>E-mail cím: </td>
			<td><input type="email" name="email" ng-model="email" id="mail" placeholder="E-mail cím" required>
			<span style="color:red" ng-show="regisztracio.email.$dirty && regisztracio.email.$invalid">
			<span ng-show="regisztracio.email.$error.required"> *Az e-mail cím megadása kötelező.</span>
			<span ng-show="regisztracio.email.$error.email"> *Érvénytelen e-mail cím!</span>
			</span></td>
		</tr>
		<tr> 
			<td>Jelszó: </td>
			<td><input type="password" name="pass1" ng-model="pass1" id="pass1" placeholder="Jelszó"  required>
			<span style="color:red" ng-show="regisztracio.pass1.$dirty && regisztracio.pass1.$invalid">
			<span ng-show="regisztracio.pass1.$error.required"> *A jelszó megadása kötelező.</span>
			</span></td>
		</tr>
		<tr> 
			<td>Jelszó megerősítése: </td>
			<td><input type="password" name="pass2" ng-model="pass2" id="pass2" placeholder="Jelszó megerősítése"  required>
			<span style="color:red" ng-show="regisztracio.pass2.$dirty && regisztracio.pass2.$invalid">
			<span ng-show="regisztracio.pass2.$error.required"> *A jelszó megerősítése kötelező.</span>
			</span>
			<span style="color:red" ng-show="regisztracio.pass2.$dirty && error && !regisztracio.pass2.$invalid"> *A két jelszó nem egyezik meg.</span>
			</td>
		</tr>
		<tr> 
			<td>Logó: </td>
			<td><input type="file" id="logo"/></td>
		</tr>
	</table>
	<input type="submit" name="submit" ng-disabled="regisztracio.$invalid || error" value="Regisztráció">
</form>

<script src= "validate.js"></script>
<script src= "connect.js"></script>

</body>
</html>
