nav#navigationStrip02 {
	float:left;
}
div#mainContentDiv01{
	float:left;
	width:800px;
}

div#rendelesekDiv {
	display: flex;
	flex-direction: column ;
	margin: 10px;
	float: left;
	padding: 10px;
}
div#rendelesDiv {
	display: flex;
	margin: 10px;
	align-items: center;
	border-style: solid;
    border-width: 1px;
	padding: 10px;
	font-family: verdana;
	font-size: 18px;
	color: grey;
}
img#images {
	height: 30%;
	width: 30%;
	margin: 10px;
}

div.termekWr{
	float:left;
	margin:1.66%;
	
	//min-height:40px;
	width:280px;
	height:180px;	
	//max-height:80px;
}
div.termekIn{
	position:relative;
	width:90%;
	height:90%;
	margin:auto;		
	margin-top:2.5%;
	border:1px solid black;
	background-color:rgba(0,0,0,0.5);
	background-position:center;
	background-size:100%,100%;		
	
	transition:all 0.3s ease-out;
}
div.termekIn:hover{
	border:1px solid rgba(0,0,0,0);
	width:100%;
	height:100%;
	margin-top:0;
}
div.termekIn:hover div.termekTxtHolder{
	opacity:0;
}
div.termekTxtHolder:hover{
	cursor:pointer;
}
div.termekTxtHolder{
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	transition:opacity 0.3s ease-out;
}
img.imgOnImg{
	position:absolute;
	top:-5px;
	right:-5px;
	width:50%;
}
img.imgOnImg:hover{
	cursor:pointer;
}
div.termekNev{	
	margin-left:10%;
	font-weight:800;
	font-size:1.7em;
	font-family:"Arial Black", Gadget, sans-serif;
	color:rgba(255,255,255,1);		
}
div.termekTermelo{	
	position:absolute;
	bottom:25%;
	margin-left:10%;
	
	font-weight:400;
	font-size:1.1em;
	font-family:"Arial Black", Gadget, sans-serif;
	color:rgba(255,255,255,1);	
}
div.termekAr{
	position:absolute;
	bottom:10%;
	margin-left:10%;
	font-weight:400;
	font-size:1em;
	font-family:"Arial Black", Gadget, sans-serif;
	color:rgba(255,255,255,1);	
}
div#termekReszletek{
	display:none;	
	
	position:fixed;				
	z-index:1;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;				
	margin-left:auto;
	margin-right:auto;
	left:0px;
	right:0;
	
	width:80%;
	height:75%;
	
	box-shadow:5px 5px 30px 1px black;					
	background:rgba(50,50,50,1);	
	color:white;
	
	border-right:1px solid rgba(0,0,0,0.5);
	border-bottom:2px solid rgba(0,0,0,0.5);	
	border-top:1px solid rgba(255,255,255,0.1);
}
div#termekReszletek img.miniImg:hover{
	cursor:pointer;
}
div.leftArr{		
	position:absolute;
	width:10%;
	height:10%;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;
	
	opacity:0.5;
	left:10px;	

	transition:all .2s ease-out; 
}
div.leftArr:hover{
	opacity:1;
	left:0;
}
div.rightArr{		
	position:absolute;
	width:10%;
	height:10%;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;
	text-align:right;
	opacity:0.5;
	right:10px;		
	
	transition:all .2s ease-out; 
}
div.rightArr:hover{
	opacity:1;
	right:0;
}
img.miniImg{
	opacity:0.5;
	transition:opacity .2s ease-out;
}
img.miniImg:hover{
	opacity:1;	
}
p#mertekegyseg{
	display: inline;
}
div.termekReszletekInner{
	width:85%;
	height:90%;
	margin:auto;	
	margin-top:2%;
}
div#termekReszletekInnerKep{
	float:left;
	border:1px solid white;
	background-color:rgba(0,0,0,0.5);	
	background-position:center;
	background-size:97% auto;
	background-repeat: no-repeat;
	width:50%;
	height:100%;
}
h2#termekNev{
	text-align:center;
	margin-top:-5px;
	line-height:40px;
	font-family:"Arial Black", Gadget, sans-serif;
}
div.termekReszletekInnerTablazat{
	margin-top: 10%;
}
table.termekAdat{
	border-collapse:collapse;	
	width: 100%;
}
table.termekAdat th{
	text-align:left;
	font-weight:800;
	font-size:1em;
	color:white;
	font-family:calibri;
	height:35px;
}
table.termekAdat td{
	height:35px;
	text-align:right;
	font-size:1em;
	color:white;
	font-family:calibri;
}
table.termekAdat td#ujAr, table.termekAdat th#ujAr{
	color:red;
	font-style:italic;
	font-size:1.1em;
	font-weight:800;
}
div.termekReszletekInnerSzoveg{	
	font-size:1em;
	color:white;
	font-family:calibri;
	line-height:40px;
}
div.termekReszletekInnerKosarba{
	font-size:1em;
	color:white;
	font-family:calibri;
	margin-top:20px;
}
input[type="number"].kosarba{
	width:50px;
	height:30px;
	background:rgb(50,50,50);
	border:1px solid white;
	color:white;
	font-weight:800;
	
	transition:all .3s;
}
input[type="number"].kosarba:focus{
	outline:none;
	color:rgb(50,50,50);
	background:white;
}
input[type="number"].kosarba:hover{
	color:rgb(50,50,50);
	background:white;
}
div.kosarba{
	display: inline;
	padding-left: 20%;
	text-align: right;
}
button.kosarba{
	float:right;
	width:120px;
	height:34px;
	text-align:center;
	background:rgb(50,50,50);
	border:1px solid white;
	color:white;
	font-weight:800;
	
	transition:all .3s;
	position:relative;	
}
button.kosarba:hover{
	color:rgb(50,50,50);
	background:white;
	cursor:pointer;
}
button.kosarba:focus{
	outline:none;
}

button.kosar{
	width:120px;
	height:34px;
	text-align:center;
	background:rgb(50,50,50);
	border:1px solid white;
	color:white;
	font-weight:800;
	
	transition:all .3s;
	position:relative;	
}
button.kosar:hover{
	color:rgb(50,50,50);
	background:white;
	border:1px solid #323232;
	cursor:pointer;
}
button.kosar:focus{
	outline:none;
}
div.kosarTartalma{
	margin: 5% 5% 0% 5%;
	font-family:calibri;
}
table.termekekKosara{
	border-collapse:collapse;	
	width: 100%;
}
table.termekekKosara td{
	text-align:center;
	font-size:1.4em;
	font-family:calibri;
	padding:2% 2% 2% 2%; 
	border-bottom:1px solid #323232;
}
img.imgKosarban{
	width: 100px;	
}