<!DOCTYPE html>
<html data-ng-app="loginApp" >   

<head>
	<title>Székely termelők</title>
	<meta charset="utf-8">
	
	<!-- Angular.js -->
	<script src= "lib/angular.min.js"></script>
	
	<!-- JQuery.js -->
	<script src="lib/jquery-1.11.1.js"></script>
    
	<!-- controllers.js -->
	<script src="scripts/loginController.js"></script>
	
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/altalanos.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	
	<script src="lib/md5.js"></script>
</head>

<body>

	<header>
	</header>

	<div id="bodyDiv1" data-ng-controller="loginSwitchDivController">  <!-- dontes -->

		<nav id="navigationStrip1">   <!-- menu -->
			<button data-my-navigation  data-ng-click="navigationStrip_Clicked('kezdolap')" id="kezdolap" style="margin-top: 21px;" > Kezdőlap </button>
			<button data-my-navigation  data-ng-click="navigationStrip_Clicked('projekt')"  style="margin-top: 21px;" > A projektről </button>
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('linkek')"    style="margin-top: 21px;" > Hasznos linkek </button>
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('regisztracio')"  style="margin-top: 21px;" > Regisztráció </button>
			
			<div id="showLoginDiv" onmouseover="$('div#loginDiv').slideDown(10);$('button#loginButton').css('border-bottom-color', 'white');$('input#loginEmail').focus();" onmouseout="$('div#loginDiv').slideUp(0);" >
				<button data-my-navigation data-ng-click="navigationStrip_Clicked('bejelentkezes')" id="loginButton" style="float:right;margin-top:0" > Bejelentkezés </button>
				<div id="loginDiv" onmouseover="$('div#loginDiv').slideDown(10);" onmouseout="$('div#loginDiv').slideUp(0);"  >
					<div style="margin-top:20px" >
						<div data-ng-controller="bejelentkezesController">
						<form method="POST" id="bejelentkezesForm" >
						<table>
							<tr>
								<td>E-mail cím: </td>
								<td><input type="email" name="loginEmail" data-ng-model="log.loginEmail" id="loginEmail" placeholder="E-mail cím" autofocus required>
								<span style="color:red" data-ng-show="bejelentkezesForm.loginEmail.$dirty && bejelentkezesForm.loginEmail.$invalid">
								<span data-ng-show="bejelentkezesForm.loginEmail.$error.required"> *Az e-mail cím megadása kötelező.</span>
								<span data-ng-show="bejelentkezesForm.loginEmail.$error.email"> *Érvénytelen e-mail cím!</span>
							</tr>
							<tr> 
								<td>Jelszó: </td>
								<td><input type="password" name="loginPass" data-ng-model="log.loginPass" id="loginPass" placeholder="Jelszó"  required>
								<span style="color:red" data-ng-show="bejelentkezesForm.loginPass.$dirty && bejelentkezesForm.loginPass.$invalid">
								<span data-ng-show="bejelentkezesForm.loginPass.$error.required"> *A jelszó megadása kötelező.</span>
								</span></td>
							</tr>
						</table>
						<div style="text-align:center;" ><button ng-click="login()">Bejelentkezés</button></div>
						<div id="helytelen">
							<span style="color:red">Hibás e-mail cím vagy jelszó! </span>
						</div>
						</form>
						</div> 
					</div>
				</div>		
			</div>
		</nav>

		<div id="mainDiv">
			<div data-ng-show="navigationOptionSelected=='kezdolap'">
				<h3>Üdvözöljük a Székelytermelők honlapján!</h3>
				<img src="kepek/szekelykapu.jpg" alt="Szekelykapu">
			</div>
			
			<div data-ng-show="navigationOptionSelected=='projekt'">
				<h1>A projektről</h1>
				<br><br><br>
				<div>
					<p>Székelyföldön sok olyan helyi termelő létezik, aki különböző helyi termékeket állít elő, de nincs lehetősége eljuttatni egy szélesebb vásárlói körbe.
					   A városon élőknek ritkán adódik lehetősége ezen termékek megszerzésére, főleg azok mindennapi fogyasztására.
					</p>
					<p>Tapasztalva, hogy mekkora sikernek örvendenek a különböző székelyföldi városokban megrendezésre kerülő hagyományos vásárok, 
					   arra az elhatározásra jutottunk, hogy tovább kellene fejleszteni ezt a kezdeményezést, ugyanis ezek a termelők többnyire nagy termelői kapacitással rendelkeznek, 
					   és a vásárlók részéről is nagyobb igény lenne, ha könnyebben beszerezhetnék az árucikkeket.
					</p>
					<p>Célunk megteremteni a lehetőséget a termelőnek, hogy értékesíthesse árucikkeit, és a vásárlónak, hogy kedvére válogathasson a számára kedvelt és előszeretettel fogyasztott élelmiszerek között, 
					   és akár naponta beszerezhesse azokat. 
					</p>
				</div>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='linkek'">
				<h1>Hasznos linkek</h1>
				<br><br><br>
				<a href="http://www.szekelytermek.ro/">A székelytermék </a> <br>
				<a href="http://www.varoshaza.ro/hirek/hagyomanyos-helyi-termekek-vasara/">Székelyudvarhely - hagyományos termékek vására</a> <br>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='regisztracio'" >
				
				<h1>Regisztráció</h1>
				
				<div data-ng-controller="regisztracioController">
				<form name="regisztracio" action="/upload" method="post" enctype="multipart/form-data">
					<table>
						<tr>
							<td>Név: </td>
							<td><input type="text" name="nev" data-ng-model="adatok.nev" id="nev" placeholder="Név" required>
							<span style="color:red" data-ng-show="regisztracio.nev.$dirty && regisztracio.nev.$invalid">
							<span data-ng-show="regisztracio.nev.$error.required"> *A név megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>Cím: </td>
							<td><input type="text" name="cim" data-ng-model="adatok.cim" id="cim" placeholder="Cím" required>
							<span style="color:red" data-ng-show="regisztracio.cim.$dirty && regisztracio.cim.$invalid">
							<span data-ng-show="regisztracio.cim.$error.required"> *A cím megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>Telefonszám: </td>
							<td><input type="text" name="tel" data-ng-model="adatok.tel" id="tel" placeholder="Telefonszám" required>
							<span style="color:red" data-ng-show="regisztracio.tel.$dirty && regisztracio.tel.$invalid">
							<span data-ng-show="regisztracio.tel.$error.required"> *A telefonszám megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>E-mail cím: </td>
							<td><input type="email" name="email" data-ng-model="adatok.email" id="mail" placeholder="E-mail cím" required>
							<span style="color:red" data-ng-show="regisztracio.email.$dirty && regisztracio.email.$invalid">
							<span data-ng-show="regisztracio.email.$error.required"> *Az e-mail cím megadása kötelező.</span>
							<span data-ng-show="regisztracio.email.$error.email"> *Érvénytelen e-mail cím!</span>
							</span></td>
						</tr>
						<tr>
							<td>Felhasználó típusa: </td>
							<td>
							<input type="checkbox" id="tipus1CB" name="tipus" value="Termelo" data-ng-model="adatok.tipus1CB" data-ng-change="testTipus()"> Termelő
							<input type="checkbox" id="tipus2CB" name="tipus" value="Megrendelo" data-ng-model="adatok.tipus2CB" data-ng-change="testTipus()"> Megrendelő
 							<span style="color:red" data-ng-show="checkboxError">
							*Minimum egy típus megadása kötelező.	</span></td>
						</tr>
						<tr> 
							<td>Jelszó: </td>
							<td><input type="password" name="pass1" data-ng-model="adatok.pass1" data-ng-change="testPasswords()" id="pass1" placeholder="Jelszó"  required>
							<span style="color:red" data-ng-show="regisztracio.pass1.$dirty && regisztracio.pass1.$invalid">
							<span data-ng-show="regisztracio.pass1.$error.required"> *A jelszó megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>Jelszó megerősítése: </td>
							<td><input type="password" name="pass2" data-ng-model="adatok.pass2" data-ng-change="testPasswords()" id="pass2" placeholder="Jelszó megerősítése"  required>
							<span style="color:red" data-ng-show="regisztracio.pass2.$dirty && regisztracio.pass2.$invalid">
							<span data-ng-show="regisztracio.pass2.$error.required"> *A jelszó megerősítése kötelező.</span>
							</span>
							<span style="color:red" data-ng-show="regisztracio.pass2.$dirty && passError && !regisztracio.pass2.$invalid"> *A két jelszó nem egyezik meg.</span>
							</td>
						</tr>
						<tr> 
							<td>Logó: </td>
							<td><input type="file" name="file" id="logo"/></td>
						</tr>
					</table>
					<!--<input type="submit" name="submit" data-ng-disabled="regisztracio.$invalid || passError || radioError" value="Regisztráció">
					-->
					<button data-ng-disabled="regisztracio.$invalid || passError || checkboxError" ng-click="submit()">Regisztráció</button>
				</form>
				</div>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='regisztracioSuccess'">
				<h1>Sikeres regisztráció. A bejelentkezéshez kattintson a Bejelentkezés menüpontra.</h1>
			</div>
						
			
		</div>
			

	</div>
	
	<footer id="footer1" ></footer>
	
	<script src="scripts/script.js"></script>

</body>
</html>
