<!DOCTYPE html>
<html data-ng-app="loginApp" >   

<head>
	<title>Székely termelők</title>
	<meta charset="utf-8">
	
	<!-- Angular.js -->
	<script src= "lib/angular.min.js"></script>
	
	<!-- JQuery.js -->
	<script src="lib/jquery-1.11.1.js"></script>
    
	<!-- controllers.js -->
	<script src="scripts/loginController.js"></script>
	
	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/altalanos.css">
	
	<script src="lib/md5.js"></script>
</head>

<body>

	<header>
	</header>

	<div id="bodyDiv1" data-ng-controller="loginSwitchDivController">  <!-- dontes -->

		<nav id="navigationStrip1">   <!-- menu -->
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('kezdolap')" id="kezdolap"> Kezdőlap </button>
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('projekt')" id="projekt"> A projektről </button>
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('linkek')"  id="linkek"> Hasznos linkek </button>
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('regisztracio')" id="regisztracio"> Regisztráció </button>
			<button data-my-navigation data-ng-click="navigationStrip_Clicked('bejelentkezes')" id="bejelentkezes" > Bejelentkezés </button>
		</nav>

		<div id="mainDiv">
			<div data-ng-show="navigationOptionSelected=='kezdolap'">
				<h1>Kezdőlap</h1>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='projekt'">
				<h1>A projektről</h1>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='linkek'">
				<h1>Hasznos linkek</h1>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='regisztracio'">
				
				<h1>Regisztráció</h1>
				
				<div data-ng-controller="regisztracioController">
				<form name="regisztracio" action="/upload" method="post" enctype="multipart/form-data">
					<table>
						<tr>
							<td>Név: </td>
							<td><input type="text" name="nev" data-ng-model="adatok.nev" id="nev" placeholder="Név" required>
							<span style="color:red" data-ng-show="regisztracio.nev.$dirty && regisztracio.nev.$invalid">
							<span data-ng-show="regisztracio.nev.$error.required"> *A név megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>Cím: </td>
							<td><input type="text" name="cim" data-ng-model="adatok.cim" id="cim" placeholder="Cím" required>
							<span style="color:red" data-ng-show="regisztracio.cim.$dirty && regisztracio.cim.$invalid">
							<span data-ng-show="regisztracio.cim.$error.required"> *A cím megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>Telefonszám: </td>
							<td><input type="text" name="tel" data-ng-model="adatok.tel" id="tel" placeholder="Telefonszám" required>
							<span style="color:red" data-ng-show="regisztracio.tel.$dirty && regisztracio.tel.$invalid">
							<span data-ng-show="regisztracio.tel.$error.required"> *A telefonszám megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>E-mail cím: </td>
							<td><input type="email" name="email" data-ng-model="adatok.email" id="mail" placeholder="E-mail cím" required>
							<span style="color:red" data-ng-show="regisztracio.email.$dirty && regisztracio.email.$invalid">
							<span data-ng-show="regisztracio.email.$error.required"> *Az e-mail cím megadása kötelező.</span>
							<span data-ng-show="regisztracio.email.$error.email"> *Érvénytelen e-mail cím!</span>
							</span></td>
						</tr>
						<tr>
							<td>Felhasználó típusa: </td>
							<td>
							<input type="checkbox" id="tipus1CB" name="tipus" value="Termelo" data-ng-model="adatok.tipus1CB" data-ng-change="testTipus()"> Termelő
							<input type="checkbox" id="tipus2CB" name="tipus" value="Megrendelo" data-ng-model="adatok.tipus2CB" data-ng-change="testTipus()"> Megrendelő
 							<span style="color:red" data-ng-show="checkboxError">
							*Minimum egy típus megadása kötelező.	</span></td>
						</tr>
						<tr> 
							<td>Jelszó: </td>
							<td><input type="password" name="pass1" data-ng-model="adatok.pass1" data-ng-change="testPasswords()" id="pass1" placeholder="Jelszó"  required>
							<span style="color:red" data-ng-show="regisztracio.pass1.$dirty && regisztracio.pass1.$invalid">
							<span data-ng-show="regisztracio.pass1.$error.required"> *A jelszó megadása kötelező.</span>
							</span></td>
						</tr>
						<tr> 
							<td>Jelszó megerősítése: </td>
							<td><input type="password" name="pass2" data-ng-model="adatok.pass2" data-ng-change="testPasswords()" id="pass2" placeholder="Jelszó megerősítése"  required>
							<span style="color:red" data-ng-show="regisztracio.pass2.$dirty && regisztracio.pass2.$invalid">
							<span data-ng-show="regisztracio.pass2.$error.required"> *A jelszó megerősítése kötelező.</span>
							</span>
							<span style="color:red" data-ng-show="regisztracio.pass2.$dirty && passError && !regisztracio.pass2.$invalid"> *A két jelszó nem egyezik meg.</span>
							</td>
						</tr>
						<tr> 
							<td>Logó: </td>
							<td><input type="file" name="file" id="logo"/></td>
						</tr>
					</table>
					<!--<input type="submit" name="submit" data-ng-disabled="regisztracio.$invalid || passError || radioError" value="Regisztráció">
					-->
					<button data-ng-disabled="regisztracio.$invalid || passError || checkboxError" ng-click="submit()">Regisztráció</button>
				</form>
				</div>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='regisztracioSuccess'">
				<h1>Sikeres regisztráció. A bejelentkezéshez kattintson a Bejelentkezés menüpontra.</h1>
			</div>
			
			<div data-ng-show="navigationOptionSelected=='bejelentkezes'">
				<h1>Bejelentkezés</h1>
				
				<div data-ng-controller="bejelentkezesController">
				<form method="POST" id="bejelentkezesForm" >
				<table>
						<tr>
							<td>E-mail cím: </td>
							<td><input type="email" name="loginEmail" data-ng-model="log.loginEmail" id="loginEmail" placeholder="E-mail cím" required>
							<span style="color:red" data-ng-show="bejelentkezesForm.loginEmail.$dirty && bejelentkezesForm.loginEmail.$invalid">
							<span data-ng-show="bejelentkezesForm.loginEmail.$error.required"> *Az e-mail cím megadása kötelező.</span>
							<span data-ng-show="bejelentkezesForm.loginEmail.$error.email"> *Érvénytelen e-mail cím!</span>
						</tr>
						<tr> 
							<td>Jelszó: </td>
							<td><input type="password" name="loginPass" data-ng-model="log.loginPass" id="loginPass" placeholder="Jelszó"  required>
							<span style="color:red" data-ng-show="bejelentkezesForm.loginPass.$dirty && bejelentkezesForm.loginPass.$invalid">
							<span data-ng-show="bejelentkezesForm.loginPass.$error.required"> *A jelszó megadása kötelező.</span>
							</span></td>
						</tr>
				</table>
				<button ng-click="login()">Bejelentkezés</button>
				</form>
				</div> 
			</div>
			
		</div>
			

	</div>
	
	<footer id="footer01" ></footer>
	
	<script src="scripts/script.js"></script>

</body>
</html>
