<!DOCTYPE html>
<html data-ng-app="megrendeloApp" >   

<head>
	<title>Székely termelők</title>
	<meta charset="utf-8">
	
	<!-- Angular.js -->
	<script src= "lib/angular.min.js"></script>
	
	<!-- JQuery.js -->
	<script src="lib/jquery-1.11.1.js"></script>
	
	<!-- Angular-xeditable -->
    <link href="lib/angular-xeditable/css/xeditable.css" rel="stylesheet">
    <script src="lib/angular-xeditable/js/xeditable.js"></script>
	
	<!-- JS scripts -->
	<script src="scripts/rendeloController.js"></script>
	<script src="scripts/rendeloScript.js"></script>
	
	<!-- Stylesheet -->	
	<link rel="stylesheet" type="text/css" href="css/altalanos.css">
	<link rel="stylesheet" type="text/css" href="css/termekek.css">
	<link rel="stylesheet" type="text/css" href="css/customBoxes.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="lib/bootstrap.min.css">
	
	<!-- checklist-model -->
	<script src="scripts/checklist-model.js"></script>
	
	<!-- md5 -->
	<script src="lib/md5.js"></script>
</head>

<body>

	<header>
	</header>

	<div id="bodyDiv1" data-ng-controller="termekekController">  <!-- dontes -->
		
		<nav id="navigationStrip1">   <!-- menu -->
			<div style="float:left;width:16.666%;height:10px"></div>
			<div style="float:left">
				<button data-my-navigation data-ng-click="navigationStrip1_Clicked('kezdolap')" id="kezdolap"  > Kezdőlap </button>
				<button data-my-navigation data-ng-click="navigationStrip1_Clicked('projekt')" > A projektről </button>
				<button data-my-navigation data-ng-click="navigationStrip1_Clicked('linkek')"> Hasznos linkek </button>
				<button data-my-navigation data-ng-click="kiirKosar()"> Kosár </button>
			</div>
			
			<div data-ng-show="termelo == 1" > <!-- Ha a felhasznalo termelo is, azaz 2 szerepkore van, akkor hozzaferese van a radiogombokhoz, amivel szerepet valthat -->
				<div style="float:right;position:relative;top:28px;">
					<div data-ng-click="logout()" id="logoutBtn">
						<div id="logoutBtnOverlay"></div>
						<div id="logoutLbl">Kijelentkezés</div>
					</div>
				</div>
				<div style="position:absolute;bottom:-1px;right:35px;">
					<div style="width:100%;height:50%;position:relative;">
						<div id = "felhasznaloDiv"> {{ nev }} </div>																
					</div>
					<div style="width:100%;height:50%">		
						<div style="float:left">		<!-- Gomb a termelo oldalra -->
							<div class='changePage pageLeft' data-ng-click="termeloOldal()" >Termelő</div>					
						</div>
						<div style="float:left">		<!-- A megrendelo oldal az aktualis oldal -->
							<div class='changePage pageRight' id="actualPage"  >Megrendelő</div>
						</div>						
						<div style="clear:both"></div>
					</div>
				</div>												
				<div style="clear:both"></div>
			</div>
			
			<div data-ng-show="termelo != 1" >	<!-- Ha a felhasznalonak 1 szerepkore van, akkor csak a neve es a Kijelentkezes gomb lathato -->
				<div style="float:right;position:relative;top:28px;">
					<div data-ng-click="logout()" id="logoutBtn">
						<div id="logoutBtnOverlay"></div>
						<div id="logoutLbl">Kijelentkezés</div>
					</div>
				</div>
				<div style="position:absolute;bottom:5px;right:35px;">
					<div id = "felhasznaloDiv"> {{ nev }} </div>						
				</div>												
				<div style="clear:both"></div>
			</div>
		</nav>

		
		<div id="mainDiv">
			<nav id="navigationStrip2">   <!-- oldalso menu -->
				<button data-my-navigation data-ng-click="setRendelesProfil(false); navigationStrip2_Clicked('m_profilom');"> Profilom </button> 
				<button data-my-navigation data-ng-click="termekekBetoltes('alt')"> Termékek </button> <br>
				<button data-my-navigation data-ng-click="termekekBetoltes('promo')" > Promóciós termékek </button> <br>
				<button data-my-navigation data-ng-click="rendeleseimBetoltes()" > Rendeléseim </button> <br>
			</nav>
		
			<div id="innerMainDiv" >
			
				<div data-ng-show="navigationOptionSelected == 'kezdolap'">
					<h3>Üdvözöljük a Székelytermelők honlapján!</h3>
					<img src="kepek/szekelykapu.jpg" alt="Szekelykapu">
				</div>
				
				<div data-ng-show="navigationOptionSelected == 'projekt'">
					<h1 class="opcioCim">A projektről</h1>
					<br><br><br>
					<div>
						<p>Székelyföldön sok olyan helyi termelő létezik, aki különböző helyi termékeket állít elő, de nincs lehetősége eljuttatni egy szélesebb vásárlói körbe.
						   A városon élőknek ritkán adódik lehetősége ezen termékek megszerzésére, főleg azok mindennapi fogyasztására.
						</p>
						<p>Tapasztalva, hogy mekkora sikernek örvendenek a különböző székelyföldi városokban megrendezésre kerülő hagyományos vásárok, 
						   arra az elhatározásra jutottunk, hogy tovább kellene fejleszteni ezt a kezdeményezést, ugyanis ezek a termelők többnyire nagy termelői kapacitással rendelkeznek, 
						   és a vásárlók részéről is nagyobb igény lenne, ha könnyebben beszerezhetnék az árucikkeket.
						</p>
						<p>Célunk megteremteni a lehetőséget a termelőnek, hogy értékesíthesse árucikkeit, és a vásárlónak, hogy kedvére válogathasson a számára kedvelt és előszeretettel fogyasztott élelmiszerek között, 
						   és akár naponta beszerezhesse azokat. 
						</p>
					</div>
				</div>
				
				<div data-ng-show="navigationOptionSelected == 'linkek'">
					<h1 class="opcioCim">Hasznos linkek</h1>
					<br><br><br>
					<a href="http://www.szekelytermek.ro/">A székelytermék </a> <br>
					<a href="http://www.varoshaza.ro/hirek/hagyomanyos-helyi-termekek-vasara/">Székelyudvarhely - hagyományos termékek vására</a> <br>
				</div>
				
				
				<div data-ng-show="navigationOptionSelected == 'm_profilom'"   ng-controller="m_profilomController" ng-init="m_profilomBetolt()">
					<h1 class="opcioCim" data-ng-hide="getRendelesProfil();" >Profilom </h1>
					<h1 class="opcioCim" data-ng-show="getRendelesProfil();" >2. Személyes adatok: </h1> <!-- A rendeles soran is modosithatoak a szemelyes adatok -->
				
					<form  editable-form name="m_profilom_form" onbeforesave="m_profilomMentes($data)">
						<div>
							<!-- modosithato nev -->
							<span class="title"> Név: </span>
							<span editable-text="profilom[1]" e-name="nev" e-required>
							{{ profilom[1] || 'Nincs kiválasztva' }} </span> 
						</div>
						
						<div>
							<!-- modosithato cim -->
							<span class="title"> Cím: </span>
							<span editable-text="profilom[2]" e-name="cim" e-required>
							{{ profilom[2] || 'Nincs kiválasztva' }} </span> 
						</div>
						
						<div>
							<!-- modosithato telefonszam -->
							<span class="title"> Telefonszám: </span>
							<span editable-text="profilom[3]" e-name="tel" e-required>
							{{ profilom[3] || 'Nincs kiválasztva' }} </span> 
						</div>
						
						<div>
							<!-- modosithato e-mail cim -->
							<span class="title"> E-mail cím: </span>
							<span editable-email="profilom[4]" e-name="email" onbeforesave="vizsgalEmail($data)" e-required>
							{{ profilom[4] || 'Nincs kiválasztva' }} </span> 
						</div>
					
						<div class="buttons">
							<!-- button to show form -->
							<button type="button" class="btn btn-default" ng-click="m_profilom_form.$show()" ng-show="!m_profilom_form.$visible">
							Módosít  
							</button>
							<!-- buttons to submit / cancel form -->
							<span ng-show="m_profilom_form.$visible">
								<button type="submit" class="btn btn-primary" ng-disabled="m_profilom_form.$waiting">
								Mentés 
								</button>
								<button type="button" class="btn btn-default" ng-disabled="m_profilom_form.$waiting" ng-click="m_profilom_form.$cancel()">
								Mégse
								</button>
							</span>
						</div>
					</form>
					
					<div data-ng-hide="getRendelesProfil();" class="semmi"> <!-- A rendeles soran jelszot nem modosithat, csak a Profilom menubol -->
						<br><br><br><br>
						<p>Ha a jelszót szeretnéd módosítani, azt az alábbi gombra kattintva teheted meg: </p>
						<form editable-form name="m_jelszo_modositas_form">
							<!-- button to show form -->
							<button type="button" class="btn btn-default" ng-click="m_jelszo_modositas_form.$show()" ng-show="!m_jelszo_modositas_form.$visible">
							Módosít
							</button>
						
							<!-- buttons to submit / cancel form -->
							<span ng-show="m_jelszo_modositas_form.$visible">
								<div>
									<!-- regi jelszo -->
									<span class="title"> Régi jelszó: </span>
									<input type="password" name="regipass" data-ng-model="adatok.regipass" data-ng-change="vizsgal_regiPassword()" id="regipass" placeholder="Régi jelszó"  required>
									<span style="color:red" data-ng-show="m_jelszo_modositas_form.regipass.$dirty && regipassError && !m_jelszo_modositas_form.regipass.$invalid">
									*A megadott jelszó nem megfelelő! </span>
								</div>
								<div>
									<!-- uj jelszo -->
									<span class="title"> Új jelszó: </span>
									<input type="password" name="ujpass1" data-ng-model="adatok.ujpass1" data-ng-change="vizsgalPasswords()" id="ujpass1" placeholder="Új jelszó"  required>
								</div>
								<div>
									<!-- uj jelszo megerositese -->
									<span class="title"> Új jelszó megerősítése: </span>
									<input type="password" name="ujpass2" data-ng-model="adatok.ujpass2" data-ng-change="vizsgalPasswords()" id="ujpass2" placeholder="Új jelszó megerősítése"  required>
									<span style="color:red" data-ng-show="m_jelszo_modositas_form.ujpass2.$dirty && passError && !m_jelszo_modositas_form.ujpass2.$invalid">
									*A két jelszó nem egyezik meg.</span>
								</div>
					
								<button type="submit" class="btn btn-primary" ng-disabled="m_jelszo_modositas_form.$invalid || passError || regipassError" ng-click="jelszoModositas()">
								Mentés 
								</button>
								<button type="button" class="btn btn-default" ng-disabled="m_jelszo_modositas_form.$waiting" ng-click="m_jelszo_modositas_form.$cancel()">
								Mégse
								</button>
							</span>
						</form>
					</div>
					
					<div data-ng-show="getRendelesProfil();" class="semmi"> <!-- A profilom menupont soran ez nem jelenik meg, csak ha a rendelesekbol jut el ide -->
						<div style="float:left;width:50%;text-align:center; margin-top:5%"  > 
							<button data-ng-click=" rendelesKiirasa(); setRendelesProfil(false); " class="kosar">
								VISSZA
							</button>
						</div>
						<div style="float:left;width:50%;text-align:center; margin-top:5%">
							<button data-ng-click=" rendeles(); setRendelesProfil(false);" class="kosar">
								RENDELÉS
							</button>
						</div>
						<div style="clear:both"></div>
					</div>
					
				</div>
				
				
				<div data-ng-show="navigationOptionSelected == 'kosar'">
					<h1 class="opcioCim">Kosár tartalma</h1>
			
					<div id='kosarTartalma'>
						<table class='termekekKosara'>
							<tr data-ng-repeat="termek in kosar" >
								<td> <img data-ng-show="kosar.length > 0" class='imgKosarban' data-ng-src="{{'./img/termekek/termek' + termek[0] + '.jpg'}}" ></img> </td>
								<td> {{ termek[1] }} </td>
								<td> ({{ termek[2] }}) </td>
								<td> {{ termek[3] }}  {{ termek[4] }} </td>
								<td> {{ termek[5]*termek[3] }}  {{ termek[6] }} </td>
								<td>
									<div style="display:inline;" data-ng-show="!rowform.$visible">
										<button data-ng-click="termekTorol( termek[0], termek[3] );" class="kosar" >TÖRLÉS</button>
									</div>  
								</td>
							</tr>
						</table>
				
						<div style="text-align:center; margin-top:5%">
							<button data-ng-click="rendelesKiirasa()" class="kosar">
								RENDELÉS
							</button>
						</div>
					</div>
				</div>				
				<div data-ng-show="navigationOptionSelected == 'ureskosar'">
					<h1 class="uzenetH1" > Nincs egy termék sem a kosárban. </h1>
				</div>
				
				<div id='termekReszletek'>	<!-- Egy termek reszletes megjelenitese -->										
					<div style="position:absolute;top:5px;right:5px">
						<img class="miniImg" src="kepek/closeW2.png" width=30
						onclick="$('body div#overlay').remove();$(this).parents('#termekReszletek').hide(300);" />
					</div>
					<div class="leftArr">
						<img class="miniImg" src='./kepek/left.png' width=50 height=50 data-ng-click="(navigationOptionSelected == 'termekek')?showPrevTermek('alt'):showPrevTermek('prom')" />
					</div>
					<div class="rightArr">						
						<img class="miniImg" src='./kepek/right.png' width=50 height=50 data-ng-click="(navigationOptionSelected == 'termekek')?showNextTermek('alt'):showNextTermek('prom')" />
					</div>
					<div class="termekReszletekInner">
						<div id="termekReszletekInnerKep" ></div>
						<div style="float:left;margin-left:50px">
							<h2 id="termekNev" > </h2><!-- Termek neve -->
							<div class="termekReszletekInnerSzoveg" id="termekKategoria"></div>
							<div class="termekReszletekInnerSzoveg" id="termekLeirasID"></div>

							<div class="termekReszletekInnerTablazat">
								<table class="termekAdat">								
									<tr>
										<th>Termelő:</th>
										<td id="termekTermeloTd"></td>
									</tr>
									<tr>
										<th>Minimális rendelési mennyiség: </th>
										<td id="termekMinMennyTd"></td>
									</tr>
									<tr>
										<th>Készlet mennyiség: </th>
										<td id="termekKeszletMennyTd"></td>
									</tr>
									<tr id="arTr">
										<th>Ár:</th>
										<td id="termekArTd"></td>
									</tr>
								</table>
							</div>	
							<div class="termekReszletekInnerKosarba">
								<input type="number" class="kosarba" min="1" name="darab" value="1" /><p id="mertekegyseg"></p>
								<button type="submit" data-ng-click="(navigationOptionSelected == 'termekek')?kosarba('alt'):kosarba('promo');" class="kosarba">
									KOSÁRBA
								</button>
							</div>							
						</div>											
					</div>						
				</div>
			
				<div data-ng-show="navigationOptionSelected == 'termekek'" id="termekekContainer">				
					<h1 class="opcioCim">Termékek</h1>									
					<div class='termekWr' data-ng-repeat="termek in termekadatok">					
					
						<div id="{{'termek_'+termek['0']}}" class="termekIn" style="background-image: url({{'img/termekek/'+termek['3']}})">
							<div class="termekTxtHolder" data-ng-click="showTermekReszletImgClick(termek['0'], 'alt')">
								<div class='termekNev'>
									{{termek["1"]}}
								</div>
								<div class='termekTermelo'>
									Termelő: {{termek["4"]}}
								</div>
								<div class="termekAr">
									Ár: {{termek["2"] + " " + termek["5"]}}
								</div>
							</div>
							<img class="imgOnImg" src="./kepek/ribbonNone.png" data-ng-show="termek['6'] == 0" data-ng-click="showTermekReszletImgClick(termek['0'], 'alt')"></img>
							<img class="imgOnImg" src="./kepek/ribbonProm.png" data-ng-show="termek['7'] && (termek['6']!=0)" data-ng-click="showTermekReszletImgClick(termek['0'], 'alt')"></img>
						</div>
					</div>				
				</div>
				
				
				<div data-ng-show="navigationOptionSelected == 'promtermekek'">
					<h1 class="opcioCim">Promóciós termékek</h1>
					
					<div class='termekWr' data-ng-repeat="termek in termekadatok">					
					
						<div id="{{'promtermek_'+termek['0']}}" class="termekIn" style="background-image: url({{'img/termekek/'+termek['3']}})">
							<div class="termekTxtHolder" data-ng-click="showTermekReszletImgClick(termek['0'], 'promo')">
								<div class='termekNev'>
									{{termek["1"]}}
								</div>
								<div class='termekTermelo'>
									Termelő: {{termek["4"]}}
								</div>
								<div class="termekAr">
									Ár: {{termek["2"] + " " + termek["5"] }}
								</div>
							</div>
							<img class="imgOnImg" src="./kepek/ribbonNone.png" data-ng-show="termek['6'] == 0" data-ng-click="showTermekReszletImgClick(termek['0'], 'promo')"></img>
							<img class="imgOnImg" src="./kepek/ribbonProm.png" data-ng-show="termek['6'] != 0" data-ng-click="showTermekReszletImgClick(termek['0'], 'promo')"></img>
						</div>
					</div>				
				</div>
					
					
				<div data-ng-show="navigationOptionSelected == 'nincstermek'">
					<h3>Jelenleg nincsenek termékek.</h3>
				</div>

				<div data-ng-show="navigationOptionSelected == 'nincspromtermek'">
					<h3>Jelenleg nincsenek promóciós termékek.</h3>
				</div>	

				
				<!-- Rendeles megjelenitese: -->
				<div data-ng-show="navigationOptionSelected == 'rendeles'"  data-ng-init="osszegInit()" >
					<h1 class="opcioCim">1. A megrendelni kívánt termékek:</h1>
			
					<div class='kosarTartalma'>
						<table class='termekekKosara'>
							<tr ng-repeat="termek in kosar" >
								
								<td> <img class='imgKosarban' data-ng-src="{{'./img/termekek/termek' + termek[0] + '.jpg'}}" ></img> </td>
								<td> {{ termek[1] }} </td>
								<td> ({{ termek[2] }}) </td>
								<td> {{ termek[3] }}  {{ termek[4] }} </td>
								<td> {{ termek[5]*termek[3] }}  {{ termek[6] }} </td>
							</tr>
						</table>
						<div class='kosarTartalma'>
							<h2>Összesen: {{ osszegString }} </h2>
						</div>
				
						<div style="float:left;width:50%;text-align:center; margin-top:5%">
							<button data-ng-click="navigationStrip1_Clicked('kosar');" class="kosar">
								VISSZA
							</button>
						</div>
						<div style="float:left;width:50%;text-align:center; margin-top:5%">
							<button data-ng-click="rendelesProfil();" class="kosar">
								TOVÁBB
							</button>
						</div>
						<div style="clear:both"></div>
					</div>
				</div>	
				
				<div data-ng-show="navigationOptionSelected == 'sikeresRendeles'">
					<h3> A rendelését sikeresen elküldtük. A rendeléseit a Rendelések menüpont alatt tekintheti meg.</h3>
				</div>		
				
				
				<!-- Eddigi rendelesek megtekintese -->
				<div data-ng-show="navigationOptionSelected=='rendeleseim'">
					<h1 class="rendelesCim">Rendeléseim</h1>
					<div id="rendelesekDiv">
						<div id="rendelesDiv" data-ng-repeat="rendeles in  rendelesek ">
								<img id="images" data-ng-src="{{'img/termekek/termek'+rendeles[4]+'.jpg'}}"><br>
								Terméknév: {{rendeles[0]}} <br>
								Egységár: {{rendeles[5]}} {{ rendeles[6] }}/{{ rendeles[7] }} <br>
								Mennyiség: {{rendeles[1]}} {{rendeles[7]}} <br>
								Összár: {{rendeles[8]}} {{rendeles[6]}} <br>
								Státusz: {{rendeles[2]}} <br>
								Rendelés dátuma: {{rendeles[3]}} 
						</div>
					</div>
				</div>
					
			</div>
			<div style="clear:both"></div>
		</div>

	</div>
	
	<footer id="footer1" ></footer>
	
	<script src="scripts/script.js"></script>

</body>
</html>
