div {
	margin: 20px;
}
div#logoDiv {
	margin: 0px;
}
div#bodyDiv01 {
	display: flex;
	flex-direction: row ;
}
img#logo {
	width: 100px;
}
input#clickMe{
	visibility: hidden;
}
input#click2{
	visibility: hidden;
}